In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df=pd.read_csv("Classified Data",index_col=0)
df.head()

,WTT,PTI,EQW,SBI,LQE,QWG,FDJ,PJF,HQE,NXJ,TARGET CLASS
0,0.913917,1.162073,0.567946,0.755464,0.780862,0.352608,0.759697,0.643798,0.879422,1.231409,1
1,0.635632,1.003722,0.535342,0.825645,0.924109,0.648450,0.675334,1.013546,0.621552,1.492702,0
2,0.721360,1.201493,0.921990,0.855595,1.526629,0.720781,1.626351,1.154483,0.957877,1.285597,0
3,1.234204,1.386726,0.653046,0.825624,1.142504,0.875128,1.409708,1.380003,1.522692,1.153093,1
4,1.279491,0.949750,0.627280,0.668976,1.232537,0.703727,1.115596,0.646691,1.463812,1.419167,1

In [6]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler() # initialize it
scaler.fit(df.drop('TARGET CLASS',axis=1))  # fit the data

,WTT,PTI,EQW,SBI,LQE,QWG,FDJ,PJF,HQE,NXJ,TARGET CLASS
0,0.913917,1.162073,0.567946,0.755464,0.780862,0.352608,0.759697,0.643798,0.879422,1.231409,1
1,0.635632,1.003722,0.535342,0.825645,0.924109,0.648450,0.675334,1.013546,0.621552,1.492702,0
2,0.721360,1.201493,0.921990,0.855595,1.526629,0.720781,1.626351,1.154483,0.957877,1.285597,0
3,1.234204,1.386726,0.653046,0.825624,1.142504,0.875128,1.409708,1.380003,1.522692,1.153093,1
4,1.279491,0.949750,0.627280,0.668976,1.232537,0.703727,1.115596,0.646691,1.463812,1.419167,1

In [11]:
# Scale the inputs
scaled_features=scaler.transform(df.drop('TARGET CLASS',axis=1))
# Get the scaled data
scaled_features

array([[-0.12354188,  0.18590747, -0.91343069, ..., -1.48236813,
        -0.9497194 , -0.64331425],
       [-1.08483602, -0.43034845, -1.02531333, ..., -0.20224031,
        -1.82805088,  0.63675862],
       [-0.78870217,  0.33931821,  0.30151137, ...,  0.28570652,
        -0.68249379, -0.37784986],
       ...,
       [ 0.64177714, -0.51308341, -0.17920486, ..., -2.36249443,
        -0.81426092,  0.11159651],
       [ 0.46707241, -0.98278576, -1.46519359, ..., -0.03677699,
         0.40602453, -0.85567   ],
       [-0.38765353, -0.59589427, -1.4313981 , ..., -0.56778932,
         0.3369971 ,  0.01034996]])

In [12]:
# after standaliation now our data are constant
df_feat=pd.DataFrame(scaled_features,columns=df.columns[:-1])
df_feat.head(3)

,WTT,PTI,EQW,SBI,LQE,QWG,FDJ,PJF,HQE,NXJ
0,-0.123542,0.185907,-0.913431,0.319629,-1.033637,-2.308375,-0.798951,-1.482368,-0.949719,-0.643314
1,-1.084836,-0.430348,-1.025313,0.625388,-0.444847,-1.152706,-1.129797,-0.202240,-1.828051,0.636759
2,-0.788702,0.339318,0.301511,0.755873,2.031693,-0.870156,2.599818,0.285707,-0.682494,-0.377850

In [29]:
x=df_feat
y=df['TARGET CLASS']
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,
                                               test_size=0.35,random_state=102)

In [30]:
x_train.head()

,WTT,PTI,EQW,SBI,LQE,QWG,FDJ,PJF,HQE,NXJ
509,-0.675455,1.335212,0.720443,-1.444705,-0.576219,0.288284,0.445572,1.006370,-1.128656,-0.029710
144,1.937515,0.660507,-0.460144,0.003981,0.297325,0.307166,-1.273816,0.882940,0.154083,0.288795
167,-0.289633,0.427599,-0.324566,-0.291304,-1.047206,-0.847424,0.309935,-2.102427,-1.071680,0.809926
688,-1.074518,-0.418391,-0.107864,1.022052,0.615863,-1.278071,-1.665409,-1.188980,1.463469,-1.262119
157,-0.974847,0.934358,0.322828,1.235759,-1.443537,0.363618,1.759513,1.336917,0.750488,-0.000580

In [31]:
x_test.head()

,WTT,PTI,EQW,SBI,LQE,QWG,FDJ,PJF,HQE,NXJ
492,1.399703,-0.459621,-1.012235,-0.970719,-0.838943,-0.281009,-0.560472,-1.066607,0.525674,0.040457
474,0.067650,1.046501,0.023329,-1.927475,0.150170,1.296568,0.517541,0.244055,-0.591365,0.046748
647,0.479561,-1.130969,-0.195234,0.124405,-1.647009,2.511648,0.073668,-0.215709,0.223720,0.895135
189,-0.439624,0.025345,1.825291,0.425666,0.375343,1.445270,-0.606923,1.799313,-0.551483,0.773908
333,0.599069,-0.190733,0.200976,-0.064760,-1.011573,0.210915,-1.794913,-1.303196,1.087454,0.660829

In [32]:
y_train.head()

509    0
144    1
167    1
688    1
157    0
Name: TARGET CLASS, dtype: int64

In [33]:
y_test.head()

492    1
474    0
647    1
189    0
333    1
Name: TARGET CLASS, dtype: int64

In [44]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier(n_neighbors=1)
knn.fit(x_train,y_train)
pred=knn.predict(x_test)
pre=pd.DataFrame(pred)  # to make them DataFrame
pre.head()

   0
0  1
1  0
2  1
3  0
4  1

In [45]:
y_test.head()

492    1
474    0
647    1
189    0
333    1
Name: TARGET CLASS, dtype: int64

In [38]:
# Model Evaluaion

In [49]:
from sklearn.metrics import classification_report,confusion_matrix
print(confusion_matrix(y_test,pred))

[[152  15]
 [ 13 170]]

In [50]:
print(classification_report(y_test,pred))

              precision    recall  f1-score   support

           0       0.92      0.91      0.92       167
           1       0.92      0.93      0.92       183

    accuracy                           0.92       350
   macro avg       0.92      0.92      0.92       350
weighted avg       0.92      0.92      0.92       350

In [55]:
# choose the best Y by iterating through 60 possibles choices
error_rate=[]
# will take some time
for i in range(1,60):
    knn=KNeighborsClassifier(n_neighbors=i)
    knn.fit(x_train,y_train)
    pred_i=knn.predict(x_test)
    error_rate.append(np.mean(pred_i!=y_test))
#print(error_rate)

In [56]:
plt.figure(figsize=(10,6))
plt.plot(range(1,60),error_rate,colo)