In [1]:
cat='my name '; mid='is'; last='Theoneste'
print(cat,mid,last,sep=', ')

my name , is, Theoneste

In [2]:
cat='my name'; mid='is'; last='Theoneste'
print(cat,mid,last,end='!!!')

my name is Theoneste!!!

In [3]:
day='HELLO GUY'
len(day)
day.lower()

'hello guy'

### concatination

In [4]:
name='Theoneste'
'my name is '+name+' Ndayisenga'

'my name is Theoneste Ndayisenga'

In [5]:
name=1000
'my name is '+str(name)+' Ndayisenga'

'my name is 1000 Ndayisenga'

In [6]:
int(72822)+int(6272)

79094

In [7]:
'20'+'50'
type(eval)
type(eval('324.53'))
eval('222')+eval('3434')
eval('23-26738')

-26715

In [8]:
check='asdfghdjdkdjhcashsksj'
check.count('a')

2

In [9]:
hello='''# we the world and 00 )) evething will be fine /// in few coming days'''
hello.replace('#','').replace('00','').replace('/','').replace(')','').upper()

' WE THE WORLD AND   EVETHING WILL BE FINE  IN FEW COMING DAYS'

In [10]:
check='abcdefghijkrmnoprstuvwz'
check[:4]

'abcd'

In [11]:
check.split()

['abcdefghijkrmnoprstuvwz']

In [12]:
check[::4]

'aeimrv'

In [13]:
check[7:]

'hijkrmnoprstuvwz'

In [14]:
hi='''i am student in UNIVERSITYof Rwanda'''
hi.split()

['i', 'am', 'student', 'in', 'UNIVERSITYof', 'Rwanda']

In [15]:
name='Theoneste'; grade='A+'
'My name is {} and my grade is {}'.format(name,grade)

'My name is Theoneste and my grade is A+'

In [16]:
animals=['cat','dog','hen','goat']
safari='I saw {},{} and {} at the same time'
safari.format(animals[0],animals[1],animals[2])

'I saw cat,dog and hen at the same time'

In [17]:
safari.format(*animals)

'I saw cat,dog and hen at the same time'

In [18]:
 animals=['cat','dog','hen','goat']
safari='I saw {},{} and {} at the same time'
safari.format(animals[0],animals[1].capitalize(),animals[2].upper())

'I saw cat,Dog and HEN at the same time'

In [19]:
theo='i am still alive'
theo.capitalize()

'I am still alive'

In [20]:
th=['hello','kanani','banebwe']
me='i met {} and {} in the Market'
me.format(th[1],th[2])

'i met kanani and banebwe in the Market'

In [21]:
num='200'
numbers=[12,23,45,57,76]
eval("{}+{}+{}".format(*numbers))
int(num)+23 # eval

223

In [22]:
'%.0d + %.0d =%.3f'%(4,6,(4/6))

'4 + 6 =0.667'

In [23]:
word='awesome guys'
'the length of {} is {}'.format(word,len(word))

'the length of awesome guys is 12'

In [24]:
new='we are the world'
new.split()

['we', 'are', 'the', 'world']

##### Formating string

In [25]:
name='Michael'; grade='A+'
'the name of student is {} and has a grade {} in Mathematics'.format(name,grade)

'the name of student is Michael and has a grade A+ in Mathematics'

In [26]:
an=['lions','zebra','hen','cow']
safari='i saw {},{},{} and {} in the forest'
safari.format(an[0].upper(),an[1].capitalize(),an[2],an[3])

'i saw LIONS,Zebra,hen and cow in the forest'

In [27]:
safari.format(*an)

'i saw lions,zebra,hen and cow in the forest'

In [28]:
range(10)

range(0, 10)

In [29]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [30]:
list(range(24,0,-2))

[24, 22, 20, 18, 16, 14, 12, 10, 8, 6, 4, 2]

In [31]:
nest=[[1,2,3],[4,5,6]]
new=[list(range(5)),list(range(5,10))]
print(nest)
print(new)
nest+new

[[1, 2, 3], [4, 5, 6]]
[[0, 1, 2, 3, 4], [5, 6, 7, 8, 9]]

[[1, 2, 3], [4, 5, 6], [0, 1, 2, 3, 4], [5, 6, 7, 8, 9]]

In [32]:
num=[12,34,66]
type(num)
num.append(100)
num

[12, 34, 66, 100]

In [33]:
num.append(100)
num

[12, 34, 66, 100, 100]

In [34]:
num.clear()
type(num)

list

In [35]:
num=[12,3,45,67,89]
num.append(123)
num

[12, 3, 45, 67, 89, 123]

In [36]:
# ordering numbers 
num.sort()
num

[3, 12, 45, 67, 89, 123]

In [37]:
num.insert(4,88)
num

[3, 12, 45, 67, 88, 89, 123]

In [38]:
num.pop()
num

[3, 12, 45, 67, 88, 89]

In [39]:
items=['car','hen','ball']
items[1]='matelas'

In [40]:
items

['car', 'matelas', 'ball']

In [41]:
items.append(num)
items

['car', 'matelas', 'ball', [3, 12, 45, 67, 88, 89]]

In [42]:
items[3].insert(3,'nononon')
items

['car', 'matelas', 'ball', [3, 12, 45, 'nononon', 67, 88, 89]]

In [43]:
tupl=23,45,67,768
type(tupl)

tuple

In [44]:
mylist=[2,3,56,68,89]
type(mylist)

list

In [45]:
tupl2=tuple(mylist)
tupl2

(2, 3, 56, 68, 89)

In [46]:
type(tupl2)

tuple

In [47]:
d=tupl+tupl2
my=list(d)
my.sort()
my

[2, 3, 23, 45, 56, 67, 68, 89, 768]

In [48]:
tup='hello','no',23,23,'yes','no','no'
tup.count('no')

3

### Dictionary

In [49]:
d1={}
type(d1)
d1['A']=22
d1['B']=34
d1['C']=56
d1['D']=78
d1

{'A': 22, 'B': 34, 'C': 56, 'D': 78}

In [50]:
toys={'robt':'$232','car':"$8956"}
d1.update(toys)
d1

{'A': 22, 'B': 34, 'C': 56, 'D': 78, 'robt': '$232', 'car': '$8956'}

In [51]:
d1['A']=7623
d1

{'A': 7623, 'B': 34, 'C': 56, 'D': 78, 'robt': '$232', 'car': '$8956'}

In [52]:
d1.pop('A')
d1

{'B': 34, 'C': 56, 'D': 78, 'robt': '$232', 'car': '$8956'}

In [53]:
d1.keys()

dict_keys(['B', 'C', 'D', 'robt', 'car'])

In [54]:
d1.values()

dict_values([34, 56, 78, '$232', '$8956'])

In [55]:
tuple(d1.keys())

('B', 'C', 'D', 'robt', 'car')

In [57]:
ani=['cat','dog','cow']
num=eval(input('Enter number'))
if num>=3:
    print('impossible')
elif ani[num]=='dog':
    print(' i dont like dog')
elif an[num]=='cow':
    print('atleast i will get milk')
else:
    print(' See you next my freind')

Enter number2
 See you next my freind

In [5]:
print ("Your name is {}, and your height is {} whileyour weight is %.2d".format('Ossama', 172.156783, 75.56647))

Your name is Ossama, and your height is 172.156783 whileyour weight is %.2d

In [8]:
print ("Your name is %s, and your height is %.2f while your weight is %.2d" % ('Ossama', 172.156783, 75.56647))

Your name is Ossama, and your height is 172.16 while your weight is 75

In [22]:
import calendar
calendar.prcal(2019)

                                  2019

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3                   1  2  3
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       4  5  6  7  8  9 10
14 15 16 17 18 19 20      11 12 13 14 15 16 17      11 12 13 14 15 16 17
21 22 23 24 25 26 27      18 19 20 21 22 23 24      18 19 20 21 22 23 24
28 29 30 31               25 26 27 28               25 26 27 28 29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7             1  2  3  4  5                      1  2
 8  9 10 11 12 13 14       6  7  8  9 10 11 12       3  4  5  6  7  8  9
15 16 17 18 19 20 21      13 14 15 16 17 18 19      10 11 12 13 14 15 16
22 23 24 25 26 27 28      20 21 22 23 24 25 26      17 18 19 20 21 22 23
29 30                     27 28 29 30 31            24 25 26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                         1
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       2  3  4  5  6  7  8
15 16 17 18 19 20 21      12 13 14 15 16 17 18       9 10 11 12 13 14 15
22 23 24 25 26 27 28      19 20 21 22 23 24 25      16 17 18 19 20 21 22
29 30 31                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3                         1
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       2  3  4  5  6  7  8
14 15 16 17 18 19 20      11 12 13 14 15 16 17       9 10 11 12 13 14 15
21 22 23 24 25 26 27      18 19 20 21 22 23 24      16 17 18 19 20 21 22
28 29 30 31               25 26 27 28 29 30         23 24 25 26 27 28 29
                                                    30 31