In [1]:
import pandas as pd

In [ ]:
# read_csv 
ufo = pd.read_csv('ufo.csv')  # Data Frame

In [ ]:
ufo.head()

In [ ]:
# examine the first 5 rows
ufo.head()

In [ ]:
ufo.columns

In [ ]:
# 
ufo.shape

In [ ]:
ufo.City

In [ ]:
len(ufo.City)

In [ ]:
ufo.State.head(10)

In [ ]:
ufo['City'].head(8)

In [ ]:
# Gets the botton 5 by default or a specified number in the method call 
ufo.City.tail(10)

In [ ]:
# select the 'City' Series using bracket notation
ufo['City'].head(7)

In [ ]:
# select the 'City' Series using dot notation
ufo.City

In [ ]:
#Create a new column
ufo['Location'] = ufo.City + ' , '+ ufo.State

In [ ]:
ufo.shape

In [ ]:
ufo.head()

In [ ]:
ufo['Location']
ufo.Location

In [ ]:
ufo.Location

In [ ]:
ufo.head()

In [ ]:
ufo['State_time'] = ufo.State + ' , '+ ufo.Time

In [ ]:
ufo.shape

In [ ]:
ufo.columns

In [ ]:
#Movies Data 
movies = pd.read_csv('imdb_1000.csv')

In [ ]:
movies.head()

In [ ]:
#Statistical information about the dataframe
movies.describe()

In [ ]:
star = sum(movies.star_rating)

In [ ]:
star

In [ ]:
lenstar = len(movies.star_rating)

In [ ]:
star/lenstar

In [ ]:
max(movies.star_rating)

In [ ]:
movies.dtypes

In [ ]:
# number of rows and columns
movies.shape

In [ ]:
# Find the data types for the columns 
movies.dtypes

In [ ]:
#Filter what you return with only objects
movies.describe(include=['object'])

In [ ]:
#Return columns 
ufo.columns

In [ ]:
#Rename columns
ufo.rename(columns={'Colors Reported':'Colors_Reported', 'Shape Reported':'Shape_Reported'}, inplace=True)

In [ ]:
ufo.columns

In [ ]:
#Replace all columns with new column names 
ufo_cols = ['city', 'colors reported', 'shape reported', 'state', 'time', 'location', 'state time']
ufo.columns = ufo_cols

In [ ]:
ufo.columns

In [ ]:
# replace all spaces with underscores in the column names by using the 'str.replace' method
ufo.columns = ufo.columns.str.replace('_', '')

In [ ]:
ufo.columns

In [ ]:
#Remove columns from a daframe
ufo.head()

In [ ]:
ufo.drop('colorsreported', axis=1, inplace=True)

In [ ]:
ufo.columns

In [ ]:
#Remove more than one column axis =1 refers to columns 
ufo.drop(['city', 'state'], axis=1, inplace=True)

In [ ]:
ufo.columns

In [ ]:
#How do we remove rows? 
ufo.head()

In [ ]:
#Remove the first 2 rows  Axis = 0 refers to rows
ufo.drop([0,1], axis = 0, inplace = True)

In [ ]:
ufo.head()

In [ ]:
# How is a pandas dataframe sorted?
movies.head()

In [ ]:
# Sort the titles
movies.title.sort_values().tail()

In [ ]:
movies['title']

In [ ]:
# sort in descending order instead
movies.title.sort_values(ascending=False).head()

In [ ]:
movies.title.sort_values(ascending=True).head()

In [ ]:
# sort the entire DataFrame by the 'title' Series (returns a DataFrame)
movies.sort_values('title').head()

In [ ]:
# sort in descending order instead
movies.sort_values('title', ascending=True).head()

In [ ]:
movies.dtypes

In [ ]:
#Sort dataframe by more than 2 columns - Put the variables in a list
movies.sort_values(['content_rating', 'duration']).head()

In [ ]:
#Filter rows returned by column value 
movies.shape

In [ ]:
movies.duration

In [ ]:
# Filter the DataFrame rows to only show movies with a 'duration' of at least 200 minutes.
bools = []
for length in movies.duration:
    if length >= 200:
        bools.append(True)
    else:
        bools.append(False)

In [ ]:
# confirm that the list has the same length as the DataFrame
len(bools)

In [ ]:
#Examine the first 5 elements of the list
bools[0:5]

In [ ]:
# convert the list to a Series
is_long = pd.Series(bools)
is_long.head()

In [ ]:
# use bracket notation with the boolean Series to tell the DataFrame which rows to display
greater = movies[is_long]

In [ ]:
greater.head(2)

In [ ]:
len(greater)

In [ ]:
bol = []
for length in movies.duration:
    if length <= 100:
        bol.append(True)
    else:
        bol.append(False)

In [ ]:
is_short = pd.Series(bol)

In [ ]:
len(movies[is_short])

In [ ]:
#Another way to do the same thing above using comparison operators 
is_long = movies.duration >= 200
len(movies[is_long])

In [ ]:
len(movies)

In [ ]:
#Alternatively 
movies[movies['duration']>=200]
movies[movies.duration>=200]

In [ ]:
# select the 'genre' Series from the filtered DataFrame
movies[movies.duration >= 200].genre

In [ ]:
# or equivalently, use the 'loc' method ( Takes in the rows and columns)
movies.loc[movies.duration >= 200, 'genre']

In [ ]:
# Using logical operators more 
# demonstration of the 'and' operator
print(True and True)
print(True and False)
print(False and False)

In [ ]:
# demonstration of the 'or' operator
print(True or True)
print(True or False)
print(False or False)

In [ ]:
#Get movies that are 200 mins or more and genre is drama
movies[(movies.duration >=200) & (movies.genre == 'Drama')]

In [ ]:
# use the '|' operator to specify that a row can match any of the three criteria
movies[(movies.genre == 'Crime') | (movies.genre == 'Drama') | (movies.genre == 'Action')]

In [ ]:
# use the '|' operator to specify that a row can match any of the three criteria
len(movies[((movies.genre == 'Crime') | (movies.genre == 'Drama') | (movies.genre == 'Action')) & (movies.duration >=120)])

In [ ]:
movies[['content_rating','genre','duration']]

In [ ]:
movies.shape

In [ ]:
#Or use the 'isin' method
dfcrime = movies[movies.genre.isin(['Crime', 'Drama', 'Action']) & (movies.duration >=120)]

In [ ]:
dfcrime.describe()

In [ ]:
#When reading in data include only some columns not all 
df_ufo = pd.read_csv('ufo.csv', usecols=['City', 'State'])

In [ ]:
df_ufo.head()

In [ ]:
#How about reading in only a few rows 
ufo_rows = pd.read_csv('ufo.csv', nrows=3)

In [ ]:
ufo_rows

In [ ]:
# Series are directly iterable (like a list)
for c in ufo_rows.City:
    print(c)

In [ ]:
moviedu = []
for i in movies.duration:
    moviedu.append(i)

In [ ]:
type(moviedu)

In [ ]:
import pandas as pd

In [57]:
drinks = pd.read_csv('drinks.csv')

In [ ]:
drinks.head()

In [ ]:
drinks.dtypes

In [ ]:
# only include numeric columns in the DataFrame
import numpy as np
drinks.select_dtypes(include=[np.number]).dtypes

In [ ]:
drinks.head()

In [ ]:
# Get statistical values of the dataframe 
drinks.describe()

In [ ]:
# pass the string 'all' to describe all columns
drinks.describe(include='all')

In [ ]:
# pass a list of data types to only describe certain types
drinks.describe(include=['object', 'float64'])

In [ ]:
# pass a list even if you only want to describe a single data type
drinks.describe(include=['object'])

In [ ]:
drinks

In [ ]:
# drop a column (temporarily)
drinks.drop('continent', axis=1).head()

In [ ]:
# drop a row (temporarily)
drinks.drop(2, axis=0).head()

In [ ]:
# calculate the mean of each numeric column
drinks.mean()

# or equivalently, specify the axis explicitly
drinks.mean(axis=0)

In [ ]:
# calculate the mean beer servings just for countries in Africa
drinks[drinks.continent=='Africa'].beer_servings.mean()

In [ ]:
# calculate the mean beer servings for each continent
drinks.groupby('continent').beer_servings.mean()

In [ ]:
# other aggregation functions (such as 'max') can also be used with groupby
drinks.groupby('continent').beer_servings.max()

In [ ]:
# multiple aggregation functions can be applied simultaneously
drinks.groupby('continent').beer_servings.agg(['count', 'mean', 'min', 'max', 'sum'])

In [ ]:
# When you do not specify a column where the aggregate function is going to be applied then
# All numerical columns will be applied on. 
drinks.groupby('continent').mean()

In [ ]:
# allow plots to appear in the notebook
%matplotlib inline

In [ ]:
# side-by-side bar plot of the DataFrame directly above
drinks.groupby('continent').mean().plot(kind='bar')

In [2]:
#Exploring the movies dataframe again 
movies = pd.read_csv('imdb_1000.csv')

In [ ]:
movies.head()

In [ ]:
# examine the data type of each Series
movies.dtypes

In [ ]:
# count the non-null values, unique values, and frequency of the most common value
movies.genre.describe()

In [ ]:
# count how many times each value in the Series occurs
movies.genre.value_counts()

In [ ]:
# display percentages instead of raw counts
movies.genre.value_counts(normalize=True)

In [ ]:
# 'value_counts' (like many pandas methods) outputs a Series
type(movies.genre.value_counts())

In [ ]:
# thus, you can add another Series method on the end
movies.genre.value_counts().head()

In [ ]:
# display the unique values in the column
movies.genre.unique()

In [ ]:
# count the number of unique values in the column
movies.genre.nunique()

In [ ]:
# compute a cross-tabulation of two columns
pd.crosstab(movies.genre, movies.content_rating)

In [ ]:
# histogram of the 'duration' Series (shows the distribution of a numerical variable)
movies.duration.plot(kind='hist')

In [ ]:
# bar plot of the 'value_counts' for the 'genre' Series
movies.genre.value_counts().plot(kind='bar')

# String methods in Pandas

In [ ]:
orders = pd.read_table('chipotle.tsv')

In [ ]:
orders.head()

In [ ]:
# string methods for pandas Series are accessed via 'str'
orders.item_name.str.upper().head()

In [ ]:
# string method 'contains' checks for a substring and returns a boolean Series
orders.item_name.str.contains('Chicken').head()

In [ ]:
# use the boolean Series to filter the DataFrame
orders[orders.item_name.str.contains('Chicken')].head()

In [ ]:
orders[orders.item_name.str.contains('Tomato')]

In [ ]:
orders.dtypes

In [ ]:
orders.choice_description

In [ ]:
# string methods can be chained together
orders.choice_description.str.replace('[', '').str.replace(']', '')

In [ ]:
orders.dtypes

In [ ]:
# many pandas string methods support regular expressions (regex)
orders.choice_description.str.replace('[\[\]]', '').head()

# Changing data types in Pandas

In [ ]:
drinks.head()

In [ ]:
drinks.dtypes

In [ ]:
# change the data type of an existing Series
drinks['beer_servings'] = drinks.beer_servings.astype(float)
drinks.dtypes

In [ ]:

orders.dtypes

In [ ]:
orders.item_price.str.replace('$','')

In [ ]:
#Change at reading in
drinks = pd.read_csv('drinks.csv', dtype={'beer_servings':float})
drinks.dtypes

In [ ]:
orders.head()

In [ ]:
# convert a string to a number in order to do math
orders.item_price.str.replace('$', '').astype(float).describe()

In [ ]:
# string method 'contains' checks for a substring and returns a boolean Series
orders.item_name.str.contains('Chicken').head()

In [ ]:
# convert a boolean Series to an integer (False = 0, True = 1)
orders.item_name.str.contains('Chicken').astype(int).head()

# Missing values

In [ ]:
ufo = pd.read_csv('ufo.csv')

In [ ]:
# 'isnull' returns a DataFrame of booleans (True if missing, False if not missing)
ufo.isnull()

In [ ]:
# 'nonnull' returns the opposite of 'isnull' (True if not missing, False if missing)
ufo.notnull().tail()

In [ ]:
# count the number of missing values in each Series
ufo.isnull().sum()

In [ ]:
ufo.notnull().sum()

In [ ]:
ufo.shape

In [ ]:
# use the 'isnull' Series method to filter the DataFrame rows
ufo[ufo.City.isnull()].head()

In [ ]:
# if 'any' values are missing in a row, then drop that row
ufo.dropna(how='any').shape

In [ ]:
ufo.shape

In [ ]:
ufo.isnull().sum()

In [ ]:
# if 'any' values are missing in a row (considering only 'City' and 'Shape Reported'), then drop that row
ufo.dropna(subset=['City', 'Shape Reported'], how='any').shape

In [ ]:
ufo.isnull().sum()

In [ ]:
ufo[ufo.City.isnull()].head()

In [ ]:
# if 'all' values are missing in a row (considering only 'City' and 'Shape Reported'), then drop that row
ufo.dropna(subset=['City', 'Shape Reported'], how='all').shape

In [ ]:
# 'value_counts' does not include missing values by default
ufo['Shape Reported'].value_counts().head()

In [ ]:
# explicitly include missing values
ufo['Shape Reported'].value_counts(dropna=False).head()

In [ ]:
# fill in missing values with a specified value
ufo['Shape Reported'].fillna(value='VARIOUS', inplace=True)

In [ ]:
# confirm that the missing values were filled in
ufo['Shape Reported'].value_counts().head()

## More about the pandas index

In [ ]:
drinks.index

In [ ]:
# identification: index remains with each row when filtering the DataFrame
drinks[drinks.continent=='South America'].head()

In [ ]:
drinks.set_index('country',inplace = True)

In [ ]:
drinks.columns

In [ ]:
# selection: select a portion of the DataFrame using the index
#drinks.loc[23, 'beer_servings']

In [ ]:
drinks.loc['Rwanda', 'beer_servings']

In [ ]:
# set an existing column as the index
#drinks.set_index('country', inplace=True)
drinks.reset_index(inplace=True)

In [ ]:
drinks.index

In [ ]:
drinks.columns

In [ ]:
# 'country' is now the index
drinks.index

In [ ]:
# 'country' is no longer a column
drinks.columns

In [ ]:
# 'country' data is no longer part of the DataFrame contents
drinks.shape

In [ ]:
# country name can now be used for selection
drinks.loc['Brazil', 'beer_servings']

In [ ]:
drinks.loc['Rwanda', ['beer_servings', 'spirit_servings', 'wine_servings',
       'total_litres_of_pure_alcohol', 'continent']]

In [ ]:
# restore the index name, and move the index back to a column
drinks.index.name = 'country'
drinks.reset_index(inplace=True)
drinks.head()

In [ ]:
# many DataFrame methods output a DataFrame
drinks.describe()

In [ ]:
# you can interact with any DataFrame using its index and columns
drinks.describe().loc['min', 'beer_servings']

In [ ]:
# any Series can be sorted by its values
drinks.continent.value_counts().sort_values()

In [ ]:
# any Series can also be sorted by its index
drinks.continent.value_counts().sort_index()

In [ ]:
drinks.columns

## Selecting multiple rows

In [ ]:
ufo.head(5)

In [ ]:
# row 0, all columns
ufo.loc[0, :]

In [ ]:
# rows 0 and 1 and 2, all columns
ufo.loc[[0, 1, 2], :]

In [ ]:
# rows 0 through 2 (inclusive), all columns
ufo.loc[0:2, :]

In [ ]:
# this implies "all columns", but explicitly stating "all columns" is better
ufo.loc[1:2]

In [ ]:
# rows 0 through 2 (inclusive), column 'City'
ufo.loc[0:2, 'City']

In [ ]:
# rows 0 through 2 (inclusive), columns 'City' and 'State'
ufo.loc[0:2, ['City', 'State']]

In [ ]:
# accomplish the same thing using double brackets - but using 'loc' is preferred since it's more explicit
ufo[['City', 'State']].head(3)

In [ ]:
# accomplish the same thing using double brackets - but using 'loc' is preferred since it's more explicit
ufo[['City', 'State']].head(3)

In [ ]:
ufo.head(1)

In [ ]:
# rows 0 through 2 (inclusive), columns 'City' through 'State' (inclusive)
ufo.loc[0:2, 'City':'State']

In [ ]:
# accomplish the same thing using 'head' and 'drop'
ufo.head(3).drop('Time', axis=1)

In [ ]:
ufo.head()

# Third week

In [ ]:
# rows in which the 'City' is 'Oakland', column 'State'
ufo.loc[ufo.City=='Oakland', 'State']

In [ ]:
# accomplish the same thing using "chained indexing" - but using 'loc' is preferred since chained indexing can cause problems
ufo[ufo.City=='Oakland'].State

# iloc

In [ ]:
ufo.head()

In [ ]:
# rows in positions 0 and 1, columns in positions 0 and 3
ufo.iloc[[0, 1], [0, 3]]

In [ ]:
# rows in positions 0 through 2 (exclusive), columns in positions 0 through 4 (exclusive)
ufo.iloc[0:2, 0:4]

In [ ]:
# rows in positions 0 through 2 (exclusive), all columns
ufo.iloc[0:2, :]

In [ ]:
# accomplish the same thing - but using 'iloc' is preferred since it's more explicit
ufo[0:2]

In [ ]:
# use a column at importing the data
drinks2 = pd.read_csv('drinks.csv',index_col = 'country')

In [ ]:
drinks2.head()

# ix

In [ ]:
drinks2.head()

In [ ]:
# row with label 'Albania', column in position 0
drinks2.ix['Albania', 0:4]

In [ ]:
drinks2.ix[0,'beer_servings':'continent']

In [ ]:
# rows 'Albania' through 'Andorra' (inclusive), columns in positions 0 through 2 (exclusive)
drinks2.ix['Albania':'Andorra', 0:2]

In [ ]:
ufo.ix[0:2, 0:2]

In [ ]:
ufo2 = pd.read_csv('ufo.csv')

In [ ]:
ufo2.head()

# Inplace Parameter

In [ ]:
#This does not permernently removes City
ufo.drop('City',axis =1 )

In [ ]:
#Check whether City is removed, Nope  its not. 
ufo2.head()

In [ ]:
ufo.head()

In [ ]:
# remove the 'City' column (does affect the DataFrame since inplace=True
#ufo2.drop('City',axis=1, inplace =True)

In [ ]:
#Verify
ufo2.isnull().sum()

In [ ]:
#Remove rows with null values or NaNs without setting inplace = True, to show the impact of the
# method on my data frame. 
ufo2.dropna(how='any').isnull().sum()

In [ ]:
ufo2.dropna(how='any').shape

In [ ]:
tr = (5,8)
tp = (8,10)
tg = [1,2,3,4]

tr[0]-tp[0]

In [ ]:
type(tg)

In [ ]:
type(ufo2.shape)

In [ ]:
#Number of rows to be droped
ufo2.shape[0] -  ufo2.dropna(how='any').shape[0]

In [ ]:
# Copy of a data frame
ufo3 = ufo2.copy()

In [ ]:
# Permanently drop rows with inplace = True
ufo3.dropna(how='any', inplace=True)

In [ ]:
ufo3.shape

In [ ]:
ufo2.shape

In [ ]:
#Check the impact of inplace
ufo3.shape

In [ ]:
ufo3.head()

In [ ]:
#Another example 
ufo3.set_index('Time')

In [ ]:
#check the impact, oops it did not work
ufo3.head()

In [ ]:
#check the impact, oops its did not work
ufo3.set_index('Time',inplace=True)

In [ ]:
#Verify
ufo.head()

In [ ]:
# I can get away with inplace = True using the assignment operator 
ufo3 = ufo3.set_index('State')

In [ ]:
#Verify 
ufo3.head()

In [ ]:
#Reset the index
ufo3.reset_index(inplace=True)

In [ ]:
ufo3.set_index('State', inplace=True)

In [ ]:
ufo3.set_index('Colors Reported', inplace=True)

In [ ]:
ufo3.head()

In [ ]:
# fill missing values using "backward fill" strategy (doesn't affect the DataFrame since inplace=False)
ufo2.fillna(method='bfill', inplace= True)

In [ ]:
ufo2.shape

In [ ]:
ufo2.isnull().sum()

In [ ]:
ufo2.fillna(method='ffill', inplace = True)

In [ ]:
#Methods above are not permanent to make them permanent i have to use either inplace = True or variable assignment
ufo2.isnull().sum()

# Making a dataframe smaller and faster

In [ ]:
drinks2.reset_index(inplace=True)

In [ ]:
drinks2.head()

In [ ]:
#Get information about the data frame
drinks2.info()

In [ ]:
# Calculate a true memory usage
drinks2.info(memory_usage='deep')

In [ ]:
#Continent and country use more memory, both are strings 
drinks2.memory_usage(deep=True)

In [ ]:
drinks2.continent.value_counts()

In [ ]:
#Convert the continent column into a category
drinks2['continent'] = drinks2.continent.astype('category')

In [ ]:
# Drinks is now converted to category
drinks2.continent.unique()

In [ ]:
# To get the encodings for the category column# strings are now encoded (0 means 'Africa', 1 means 'Asia', 2 means 'Europe', etc.)
drinks2.continent.cat.codes.head(10)

In [ ]:
drinks2.head()

In [ ]:
# memory usage has been drastically reduced
drinks2.memory_usage(deep=True)

In [ ]:
drinks2.country.nunique()

In [ ]:
drinks2.continent.nunique()

In [ ]:
# Do the same for country 
drinks2.country = drinks2.country.astype('category')
drinks2.memory_usage(deep=True)

In [ ]:
# memory usage increased because we created 193 categories
drinks2.country.cat.categories

# Dates and Time

In [ ]:
ufo.head()

In [ ]:
ufo.dtypes

In [ ]:
# Time is stored as a string
# convert 'Time' to datetime format
ufo['Time'] = ufo['Time'].apply(pd.to_datetime) # Or ufo['Time'] = pd.to_datetime(ufo.Time)

In [ ]:
ufo.dtypes

In [ ]:
ufo.head()

In [ ]:
ufo['Hour'] = ufo.Time.dt.hour

In [ ]:
ufo.head()

In [ ]:
#Get the week day
ufo['Weekday'] = ufo.Time.dt.weekday_name

In [ ]:
ufo.head()

In [ ]:
#Day of year
ufo['DayOfyear'] = ufo.Time.dt.dayofyear

In [ ]:
ufo.head(1)

In [ ]:
# Quarter 
ufo['Quarter'] = ufo.Time.dt.quarter

In [ ]:
ufo.head()

In [ ]:
#Month
ufo['Month']=ufo.Time.dt.month

In [ ]:
ufo.head()

In [ ]:
# convert a single string to datetime format (outputs a timestamp object)
ts = pd.to_datetime('1/1/1999')
ts

In [ ]:
# compare a datetime Series with a timestamp
ufo.loc[ufo.Time >= ts, :].head()

In [ ]:
# perform mathematical operations with timestamps (outputs a timedelta object)
ufo.Time.max() - ufo.Time.min()

In [ ]:
# count the number of UFO reports per year
ufo['Year'] = ufo.Time.dt.year
ufo.Year.value_counts().sort_index(ascending=False)

In [ ]:
# plot the number of UFO reports per year (line plot is the default)
%matplotlib inline
ufo.Year.value_counts().sort_index().plot()

# Remove duplicates

In [4]:
user_cols = ['user_id', 'age', 'gender', 
             'occupation', 'zip_code']

users = pd.read_table('u.user', sep='|', header=None,
                      names=user_cols,
                      index_col='user_id')
users.head()

         age gender  occupation zip_code
user_id
1         24      M  technician    85711
2         53      F       other    94043
3         23      M      writer    32067
4         24      M  technician    43537
5         33      F       other    15213

In [5]:
users.shape

(943, 4)

In [10]:
#Check for duplicates. When there is one it will be True
users.zip_code.duplicated()

user_id
1      False
2      False
3      False
4      False
5      False
       ...
939    False
940     True
941    False
942    False
943    False
Name: zip_code, Length: 943, dtype: bool

In [9]:
# count the duplicate items (True becomes 1, False becomes 0)
users.zip_code.duplicated().sum()

148

In [12]:
# detect duplicate DataFrame rows: 
#True if an entire row is identical 
#to a previous row
users.duplicated().sum()

7

In [13]:
#Count the number of duplicates in the whole dataframe
users.duplicated().sum()

7

### Keep = first ( Means ignore the first occurance)
### Keep = last ( Means ignore the last occurance)
### Keep = False ( Means mark all duplicates as True)

In [14]:
# examine the duplicate rows 
#(ignoring the first occurrence) 
users.loc[users.duplicated(keep='first'), :]

         age gender occupation zip_code
user_id
496       21      F    student    55414
572       51      M   educator    20003
621       17      M    student    60402
684       28      M    student    55414
733       44      F      other    60630
805       27      F      other    20009
890       32      M    student    97301

In [15]:
# examine the duplicate rows
#(ignoring the last occurrence) 
users.loc[users.duplicated(keep='last'), :]

         age gender occupation zip_code
user_id
67        17      M    student    60402
85        51      M   educator    20003
198       21      F    student    55414
350       32      M    student    97301
428       28      M    student    55414
437       27      F      other    20009
460       44      F      other    60630

In [16]:
# examine the duplicate rows 
#( Marking all occurances as True)
users.loc[users.duplicated(keep=False), :]

         age gender occupation zip_code
user_id
67        17      M    student    60402
85        51      M   educator    20003
198       21      F    student    55414
350       32      M    student    97301
428       28      M    student    55414
437       27      F      other    20009
460       44      F      other    60630
496       21      F    student    55414
572       51      M   educator    20003
621       17      M    student    60402
684       28      M    student    55414
733       44      F      other    60630
805       27      F      other    20009
890       32      M    student    97301

In [22]:
users2 = users.copy()
users4 = users.copy()
users2.drop_duplicates(keep = 'last').shape

(936, 4)

In [29]:
# Another way to permenently drop rows
users4.drop_duplicates(keep='last',inplace=True)
droped = users4.drop_duplicates(keep='last')

In [24]:
droped.shape

(936, 4)

pandas.core.frame.DataFrame

In [19]:
users2.shape

(943, 4)

In [28]:
# If you want to drop them permanently 
users2.drop_duplicates(keep='last', inplace = True)

In [21]:
#Similar to what is above
users2.shape

(936, 4)

In [30]:
#Impact of drop duplicates using first
users.drop_duplicates(keep='first').shape

(936, 4)

In [31]:
users3 = users.copy()

In [32]:
users3.drop_duplicates(keep='first', inplace = True)

In [33]:
users3.shape

(936, 4)

In [ ]:
# Impact of drop duplicates on the data frame 
users.drop_duplicates(keep=False).shape

In [ ]:
users4 = users.copy()

In [ ]:
users4.drop_duplicates(keep=False, inplace = True)

In [ ]:
users4.shape

In [ ]:
# only consider a subset of columns when identifying duplicates
users.duplicated(subset=['age', 'zip_code']).sum()

In [ ]:
users.drop_duplicates(subset=['age', 'zip_code']).shape

In [ ]:
users.shape

In [ ]:
users.drop_duplicates(subset=['age', 'zip_code'], inplace = True)

In [ ]:
users.shape

# Applying functions to a data frame.

In [34]:
train = pd.read_csv('titanic_train.csv')

In [35]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [36]:
# map 'female' to 0 and 'male' to 1
train['Sex_num'] = train.Sex.map({'female':1, 'male':0})

In [38]:
train[['Sex_num','Sex']].head(4)

   Sex_num     Sex
0        0    male
1        1  female
2        1  female
3        1  female

In [39]:
train.loc[0:4,['Sex_num','Sex']]

   Sex_num     Sex
0        0    male
1        1  female
2        1  female
3        1  female
4        0    male

In [40]:
train['Name_length'] = train.Name.apply(len)

In [41]:
train.loc[0:4,['Name','Name_length']]

                                                Name  Name_length
0                            Braund, Mr. Owen Harris           23
1  Cumings, Mrs. John Bradley (Florence Briggs Th...           51
2                             Heikkinen, Miss. Laina           22
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)           44
4                           Allen, Mr. William Henry           24

In [42]:
train.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
Sex_num          int64
Name_length      int64
dtype: object

In [49]:
# round up each element in the 'Fare' Series to the next integer
import numpy as np

train['Fare_ceil'] = train.Fare.apply(np.ceil)
train['Fare_floor'] = train.Fare.apply(np.floor)
train.loc[0:4, ['Fare', 'Fare_ceil', 'Fare_floor']]

      Fare  Fare_ceil  Fare_floor
0   7.2500        8.0         7.0
1  71.2833       72.0        71.0
2   7.9250        8.0         7.0
3  53.1000       54.0        53.0
4   8.0500        9.0         8.0

In [52]:
NameSplit = train.Name.str.split(',')
NameSplit

0                             [Braund,  Mr. Owen Harris]
1      [Cumings,  Mrs. John Bradley (Florence Briggs ...
2                              [Heikkinen,  Miss. Laina]
3        [Futrelle,  Mrs. Jacques Heath (Lily May Peel)]
4                            [Allen,  Mr. William Henry]
                             ...
886                             [Montvila,  Rev. Juozas]
887                      [Graham,  Miss. Margaret Edith]
888          [Johnston,  Miss. Catherine Helen "Carrie"]
889                             [Behr,  Mr. Karl Howell]
890                               [Dooley,  Mr. Patrick]
Name: Name, Length: 891, dtype: object

In [53]:
NameSplit.apply(lambda x: x[0]).head()

0       Braund
1      Cumings
2    Heikkinen
3     Futrelle
4        Allen
Name: Name, dtype: object

In [54]:
train['FirstName'] = NameSplit.apply(lambda x: x[0]).head()

In [58]:
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

In [ ]:
# convert every DataFrame element into a float
drinks2.loc[:, 'beer_servings':'wine_servings'].applymap(float).head()

In [ ]:
# overwrite the existing DataFrame columns
drinks2.loc[:, 'beer_servings':'wine_servings'] = drinks2.loc[:, 'beer_servings':'wine_servings'].applymap(float)
drinks2.head()

### fds 

dfdf

# Exercises

From the movies data base. 
1. Count the missing values in the'content_rating' column. 
2. Return the rows that contatin missing values. 
3. Return  the unique values in the 'content_rating' column
4. Return the movies that are not rated and what is there number. 
5. Return the movies with a higher rating that 9. How many are they? 
6. Which country has the highest sum of beer_servings and spirit_servings. 
7. Which continent has more beer servings, beer_servings 	spirit_servings 	wine_servings. 
8. From every continent find the country with the highest beer_servings, spirit_servings, wine_servings.
9. In West Africa which country has the lowest total litres of alcohol? 
10. In East Africa which country has the highest intake of acohol?
11. From the titanic dataset what is the average age of the survivors, what was the most common Pclass and Sex. 
12. Which sex recorded the most survivors according to the titanic dataset?
13. In North Africa which country drinks most? 
14. From the SADC block which country is the third most consumer of Alcohol?
15. From the UFO dataset what is the overall memory usage? Which column has the highgest share of memory? How can u reduce the memory usage of some of the columns for this data set? How much have you reduced the memory usage for the dataframe? Explain your findings with code.
16. Which country from the G7 has the lowest total intake of Alcohol?
17. Which movies have the highest percentage via content_rating and genre.

In [ ]:
sunspot = pd.read_csv('daily-total-female-births.csv')

In [ ]:
sunspot.head()